
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/.name
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/contentModel.xml
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/encodings.xml
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/indexLayout.xml
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/modules.xml
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/vcs.xml
backend/bin/.idea/.idea.Org.OpenAPITools/.idea/workspace.xml
backend/bin/.idea/.idea.Org.OpenAPITools/riderModule.iml
