body {
  background-color: #34312d;

  color: #f3f3f4;
  font-size: 300%;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #BFBFC4;
  padding: 5%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.p-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8%;
}

.person {
  align-self: center;
  width: 40%;
  margin-bottom: 6%;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8%;
}

.item {
  align-self: center;
  width: 40%;
}

.fa-envelope {
  color:#d80056;
  margin-left: 3%;
  margin-bottom: 3%;
}

h2 {
  color:#8CCDE3;
  margin-top: 4%;
}

h1 {
  color: #8CCDE3;
  font-size: 250%;
  margin-bottom: 15%;
}

button {
  font-size: inherit;
  color: #34312d;
  background-color: #d80056;
  font-weight: bold;

  border-width: 5px;
  border-style: solid;
  border-color: #d80056;
  border-radius: 20px;

  padding: 4%;
  margin: 8%;
}

hr {
  color:#BFBFC4;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1px;
}

input {
  text-align: center;
  font-size: inherit;
  color: #BFBFC4;
  background-color: inherit;

  border-width: 5px;
  border-style: solid;
  border-color: #BFBFC4;
  border-radius: 20px;

  padding: 2%;
  margin: 4%;
}

.stern {
  width: 20%;
  margin-top: -5%;
  margin-right: -5%;
}

#list{
  margin-top: 30%;
}

#logo {
  width: 80%;
  display: flex;
  align-self: flex-start;
}

.suche {
  display: flex;
  color: #34312d;
  align-self: flex-end;
  width: 60%;
  margin: 0%;
  margin-left: 5%;
  border-color: #ff8c01;
}

.search {
  display: flex;
  align-self: flex-end;
  width: 10%;
  margin: 0%;
  margin-top: -3%;
  margin-left: 5%;
  margin-right: 20%;
}

.settings {
  width : 20%;
  display: flex;
  align-self: flex-start;
  margin: 5%;
}

#devs{
  height: 100vh;
  text-align: center;
}

.stars1{
  width: 7%;
}

.stars3{
  width: 15%;
}

.stars5{
  width:20%;
}
